.text-image {
  .wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
    margin: 0 auto;
    max-width: 80%;

    @media screen and (min-width: 640px) {
      flex-direction: row;
      max-width: 90%;
    }

    @media screen and (min-width: 1400px) {
      max-width: 100%;
    }

    > div {
      width: 100%;

      @media screena and (min-width: 480px) {
        width: 50%;
      }
    }

    img {
      border: 10px solid #fff;
      box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
      height: auto;
      max-width: 400px;
      transform: scale(1.1);
      width: 100%;

      @media screen and (min-width: 840px) {
        margin-right: 60px;
      }
    }

    .first {
      z-index: 3;

      @media screen and (min-width: 640px) {
        h2,
        p {
          background: #fff;
          padding: 1rem 2rem;
        }
      }
      @media screen and (min-width: 960px) {
        h2,
        p {
          background: #fff;
          padding: 1rem 0;
        }
      }

      @media screen and (max-width: 640px) {
        margin-bottom: 80px;
      }

      h2 {
        font-family: 'Roboto Condensed';
        font-size: 2.7rem;
        font-weight: 700;
        line-height: 1.1;
        text-transform: uppercase;
      }

      p {
        font-size: 1.6rem;

        @media screen and (min-width: 1200px) {
          font-size: 2.2rem;
        }
      }
    }

    .second {
      display: flex;
      align-items: flex-end;
      flex-direction: row;
      justify-content: flex-end;
      background: #f4f4f4;
    }
  }
}
