.blog .site-main {
  background: none;
  margin: 0 auto;
  max-width: 92vw;
  line-height: 1.7;

  @media screen and (min-width: 480px) {
    line-height: 2.375rem;
    max-width: 960px;
  }
}

.blog article {
  background: #fff;
  margin: 16px;
  padding: 16px;
}
