.site-header {
  background: $main;
}

.site-header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 12px;
}

.site-header a {
  color: #fff;
  font-family: 'Roboto';
  margin: 0;

  &:hover {
    background: transparent;
    color: initial;
  }
}

.main-navigation {
  // display: flex;
  // height: 100%;

  @media screen and (min-width: 830px) {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
  }
}

.menu-primary-menu-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#desktop-menu {
  display: none;
}

#desktop-menu li {
  color: #fff;
  height: 100%;
  align-items: center;
  display: flex;

  transition: border 0.5s ease-in-out;

  // &:hover {
  //   border-bottom: 2px solid $gold;
  // }
}

#desktop-menu li.active {
  // a {
  //   color: #444;
  //   &:hover {
  //     background: #444;
  //     color: #fff;
  //   }
  // }
}

#desktop-menu li a {
  background: transparent;
  color: #fff;
}

#desktop-menu .submenu a {
  color: $main;
}

#mobile-menu {
  padding-top: 80px;
}

.mobile-menu-toggle {
  align-content: center;
  border: 1px solid #fff;
  color: #fff;
  float: right;
  font-weight: 700;
  justify-content: center;
  padding: 8px;
  text-transform: uppercase;
  width: 100px;
  @media screen and (min-width: 830px) {
    display: none;
  }
}

@media screen and (min-width: 830px) {
  #desktop-menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
  }

  .mobile-menu-toggle {
    display: none;
  }
}

.custom-logo {
  max-width: 150px;
  max-height: 300px;
  width: auto;

  @media screen and (min-width: 480px) {
    max-width: 140px;
  }
}

#primary-menu {
  justify-content: flex-end;
}

#offCanvas {
  background: $main;
}

#offCanvas > div {
  display: flex;
  flex-direction: column;
}

#offCanvas ul li {
  width: 100%;
}

#offCanvas ul li a {
  border: transparent;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;

  &:hover {
    background: transparent;
  }
}

#offCanvas .menu .active > a {
  background: lighten(#444, 10%);
}

#offCanvas .is-dropdown-submenu {
  background: transparent;
  border: none;
  width: 100%;
}

#offCanvas .is-accordion-submenu li a {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 3rem;
}

.accordion.menu > li.is-accordion-submenu-parent > a::after {
  border-color: #fff transparent transparent;

  @media screen and (min-width: 480px) {
    border-color: #444 transparent transparent;
  }
}

#offCanvas .close-button {
  font-size: 5rem;
  z-index: 11;
}

#desktop-menu .highlight {
  background: $secondary;
  display: flex;
  max-height: 50%;
  transition: all 0s ease-in-out;
  margin-left: 10px;
  border: 2px solid $secondary;
  transition: 0.3s ease-in-out;

  a {
    font-family: 'Montserrat';
    font-weight: 800;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    height: 100%;
  }

  &:hover {
    background: none;
  }
}
