.site-header {
}

.site-header__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1024px;
  margin: 0 auto;
}

.custom-logo {
  max-width: 300px;
  max-height: 300px;
  width: auto;
}
